<%- include('header') -%>
<link rel="stylesheet" href="/css/home.css" type="text/css" />
  </head>
  <body>
    <%- include('navbar') -%>
<!-- banner start -->
    <div class="banner">
      <h1 class="banner-heading">Sports-Arena</h1>
    </div>
    <!-- banner end -->
    <!-- products start -->
    <div class="products-container">
      <% for(let i=0; i<products.length; i++){%>
        <a href="">
      <div class="product">
        <div class="product-image">
          <img
            src="<%=products[i].productImage[0].url%>"
            alt=""
          />
        </div>
        <div class="product-details">
          <div class="name"><%=products[i].name%></div>
          <div class="price">rs100</div>
        </div>
      </div>
      </a>
      <%}%>
    </div>
    <script src="/javascript/home.js"></script>
    <!-- products end -->
    <%- include('footer') -%>
